@font-face{
  font-family: "Futura";
  src: url('../fonts/Futura-Medium.ttf'),
  url('../fonts/Futura-Medium.ttf');
}

@font-face{
	font-family: "Lato Light";
    src: url('fonts/Lato-Light.ttf'),
    url('../fonts/Lato-Light.eot'); /* IE */
}

@font-face{
	font-family: "Lato Bold";
	src: url('../fonts/Lato-Bold.ttf'),
	url('../fonts/Lato-Bold.ttf');
}

@font-face{
	font-family: "Lato Medium";
	src: url('../fonts/Lato-Medium.ttf'),
	url('../fonts/Lato-Medium.ttf');
}

@media (max-width: 800px){
	#accordion1,#accordion2,#accordion3,#accordion4,#accordion5,#accordion6,#accordion7{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 1200px) and (min-width: 801px){
	#accordion1,#accordion2,#accordion3,#accordion4,#accordion5,#accordion6,#accordion7{
		width: 100%;
		margin-left: 0%;
	}
}

@media (min-width: 1201px){
	#accordion1,#accordion2,#accordion3,#accordion4,#accordion5,#accordion6,#accordion7{
		width: 150%;
		margin-left: -25%;
	}
}

#accordion1,#accordion2,#accordion3,#accordion4,#accordion5,#accordion6,#accordion7{
	margin-top: 7%;
}

.panel-heading{
	background-color: rgba(255,255,255,0.5) !important;
	border: none !important;
	font-family: "Lato Light" "Arial" "Sans-Serif" !important;
}

.panel-title{
	font-family: "Lato Medium" "Arial" "Sans-Serif" !important;
}

.panel{
	background-color: rgba(255,255,255,0.5) !important;
	border: none;
	font-family: "Lato Light" "Arial" "Sans-Serif" !important;
}