/*
.dropdown {
    position: relative;
    display: inline-block;
    align: right;
}*/

@font-face{
    font-family: "Futura";
    src: url('../Fonts/Futura-Medium.ttf'),
    url('../Fonts/Futura-Medium.ttf');
}

@font-face{
    font-family: "Futura Bold";
    src: url('../Fonts/Futura-Bold.ttf'),
    url('../Fonts/Futura-Bold.ttf');
}

.dropdown-content {
    display: none;
    position: absolute;
    font-family: "Futura";
    color: white;
    text-align: left;
    font-size: 16px;
    background-color: white;
    min-width: 140px;
    margin-left: 5px;
    margin-top: 0px;
    padding: 4px 20px;
    z-index: 1;
}

.dropdown-content a{
    color: #26BFCC
}

.dropdown-content a:hover{
    color: #26BFCC;
    font-family: "Futura Bold";
    text-decoration: none;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropbtn {
    background-color: Transparent;
    border: none;
}

.dropdown:hover > #arrow{
    display: block;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    margin-left: 30px;
}

#logo {
    border: 2px solid #FFFFFF;
    border-radius: 5px;
}