@font-face{
	font-family: "Lato Light";
    src: url('fonts/Lato-Light.ttf'),
    url('../fonts/Lato-Light.eot'); /* IE */
}

@font-face{
	font-family: "Lato Bold";
	src: url('../fonts/Lato-Bold.ttf'),
	url('../fonts/Lato-Bold.ttf');
}

@font-face{
	font-family: "Lato Medium";
	src: url('../fonts/Lato-Medium.ttf'),
	url('../fonts/Lato-Medium.ttf');
}

@font-face{
	font-family: "Futura";
	src: url('../fonts/Futura-Medium.ttf'),
	url('../fonts/Futura-Medium.ttf');
}

@font-face{
	font-family: "Futura Bold";
	src: url('../fonts/Futura-Bold.ttf'),
	url('../fonts/Futura-Bold.ttf');
}

.content {
	min-height: 700px;
	height: 100%;
	width: 100%;
	resize: both;
	display: block;
	background-image: url(../Assets/NodalWebBackgroundDesktop.svg);
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
}

.content-bottom {
	width: 100%;
	background-color: white;
	background-size: cover;
}

.transparent {
	border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.navbar {
	padding-top: 0%;
}

.navbar-brand {
	padding-top: auto;
	padding-bottom: auto;
	padding-left: 30px;
}

.navbar-brand {
	display: inline;
	font-size: 16px;
	color: white;
	font-family: "Futura";
}

.navbar-brand img {
	height: 100%;
}

.link > img:hover{
	border: 1px solid #FFFFFF;
}

.nav {
	padding-top: 0;
	padding-bottom: 0;
	color: #FFFFFF;
}

body{
	height: 100%;
	min-height: 100%;
}

html{
	height: 100%;
}

h1{
	font-family: "Futura";
	margin-top: 2%;
}

.images {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}


table {
	width: 100%;
	height: 100%;
}

td {
	text-align: center;
	font-size: 24px;
	font-family: "Futura";
	color: #58595B;
}

td > img{
	width: 100%;
	/*display: block;*/
	margin-left: auto;
	margin-right: auto;
	object-fit: contain;
}

.productlink{
	text-decoration: none !important;
}

.productbtn {
	height: 40px;
	width: 200px;
	display: block;
	background-color: #26BFCC;
	color: white;
	font-family: "Futura";
	margin:0 auto;
	margin-top:10px;
	border: 3px solid #FFFFFF

}

.productbtn:hover {
	background-color: white;
	color: #26BFCC;
	border: 3px solid #FFFFFF
}

.call_to_action {
	height: 25%;
	font-family: "Futura";
	color: #58595B;
	background-color: #A3DBE2;
	padding-left:40px;
	padding-right:40px;
	padding-top:20px;
	padding-bottom:20px;
}

.title{
	height: 15%;
	vertical-align: middle;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}


.subtitle > h4{
	font-family: "Futura";
}

.subtitle{
	vertical-align: middle;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}

.logo{
	font-family: "Lato Light" "Arial" "Sans-Serif";
}

.features{
	background-color: white;
	background-size: cover;
}

.summary{
	background-color: #A3DBE2;
	background-size: cover;
}

.header{
	height: 10%;
	background-color: rgba(0,0,0,0.0);
	background-size: cover;
	padding-top: 10px;
}

.header-links a{
	color: white;
	font-family: "Futura";
	/*transition-duration: 0.25s;*/
}

.header-links a:hover{
	color: white;
	font-family: "Futura";
	text-decoration: none;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	border: 2px solid #FFFFFF;
}

.active-link a{
	color: white;
	font-family: "Futura";
	text-decoration: none;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	border: 2px solid #FFFFFF;
}

.imlink a:hover{
	border: none !important;
	text-decoration: none;
}

.header-links td{
	font-size:16px;
	width:10%;
	color: white;
}

.header2{
	height: 10%;
	background-color: rgba(0,0,0,0.0);
	background-size: cover;
}

.header-links a{
	color: white;
	font-family: "Futura";
}

.header-links a:hover{
	color: white;
	font-family: "Futura";
	text-decoration: none;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	border: 2px solid #FFFFFF;
}

.imlink a:hover{
	border: none !important;
	text-decoration: none;
}

.header2>.header-links td{
	font-size:16px;
	width:33.3%;
	color: white;
}

.footer{
	height: 10%;
	background-color: white;
	background-size: cover;
}

.footer-links a{
	color: #58595B;
}

.footer-links a:hover{
	color: #58595B;
	font-family: "Futura Bold";
	text-decoration: none;
}

.footer-links td{
	font-size:14px;
	width:12.5%;
	color: #58595B;
}

.footer2{
	display: none;
	height: 10%;
	width: 100%;
	background-color: white;
	background-size: cover;
}

.footer2-links a{
	color: #58595B;
}

.footer2-links a:hover{
	color: #58595B;
	font-family: "Futura Bold";
	text-decoration: none;
}

.footer2-links td{
	font-size:14px;
	width:25%;
	color: #58595B;
}

.footer2-ims td{
	font-size:14px;
	width:100%;
	color: #58595B;
}

.content {
	min-height: 750px !important;
}

@media screen and (max-width: 700px) {
    .bigtable {
    	display: none !important;
    }

    .smalltable {
    	display: table !important;

    }

    .smalltable img {
    	width: 70%;
    }
}

@media screen and (max-width: 500px) and (max-height: 800px) {
	h1{
		font-size: 24px !important;
	}
}

@media screen and (max-width: 800px) and (max-height: 600px) {
	h1{
		font-size: 24px !important;
	}
}

@media screen and (max-width: 1024px) {
    .footer {
        display: none !important;
    }

    .header {
    	display: none !important;
    }

    .footer2 {
    	display: table !important;
    }

    .header2 {
    	display: block !important;
    }

}