#navigation-group{
	position: fixed;
	z-index: 9;
    top: 69px;
    left: 5%;
    width: 300px;
}

#dropdown{

}


#container{
	margin: 0; 
	padding: 0; 
}

.route-button{
	width: 300px;
	white-space: pre;

}

.route-button-group{
	margin-top: 25px;
	white-space: pre;
}

.Navbar{
	margin-bottom: 0px;
}

.navbar{
	margin-bottom: 0px;
	height: 52px;
}
