#navigation-group{
	position: fixed;
	z-index: 9;
    top: 69px;
    left: 5%;
    width: 300px;
}

#dropdown{

}


#container{
	margin: 0; 
	padding: 0; 
}

.route-button{
	width: 300px;
	white-space: pre;

}

.route-button-group{
	margin-top: 25px;
	white-space: pre;
}



#navbar{
	margin-bottom: 0px;
	height: 52px;
}

.tooltip2 {
	top: 50px;
	left: 100px;
	z-index: 1000;
    padding: 4px 12px;
    max-width: 240px;
    max-height: 320px;
    box-sizing: content-box;
    overflow-y: hidden;

    h5 {
      font-size: 1em;
    }
    p {
      display: none;
      text-indent: 4px;
    }
  }
  .tooltip2.interactive {
    border: solid 4px transparent;
    margin: -4px;
    background: white;
    color: black;
    pointer-events: all;
    width: 240px;
    overflow-y: auto;

    p {
      display: block;
    }
  }